<header class="header" id="site-header">
  <div class="header-container container">
    <button type="button" class="menu-button" aria-label="menu toggle">
      <span class="icon">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 36V33H42V36H6ZM6 25.5V22.5H42V25.5H6ZM6 15V12H42V15H6Z" fill="#161616" /> 
       </svg>
      </span>
    </button>
    <nav class="nav ">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="links" href="index.html#Home">Home</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Spud">Spud Shots</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#About">About The Game</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Features">Features</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Reviews">Reviews</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Characters">Characters</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
  <ul class="menu-list">
    <li><a class="menu-list-item" href="index.html#Home">Home</a></li>
    <li><a class="menu-list-item" href="index.html#Spud">Spud Shots</a></li>
    <li>
      <a class="menu-list-item" href="index.html#About">About The Game</a>
    </li>
    <li><a class="menu-list-item" href="index.html#Features">Features</a></li>
    <li><a class="menu-list-item" href="index.html#Reviews">Reviews</a></li>
    <li><a class="menu-list-item" href="index.html#Characters">Characters</a></li>
  </ul>
</div>