body{
  background: #dbcba9;
  font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #3c2f1e;
}
.span{
  font-weight: 700;
}
h2{
  font-family: "Chewy", sans-serif;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.5;
    color: #b14c00;
    text-align: center;
}
