.footer {
  background: #b14c00;
}

.footer-container {
  padding: 33px 20px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Chewy", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: #dbcba9;

  text-align: left;
  margin-bottom: 18px;
}

.footer-text {
  font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #dbcba9;
  text-align: left;
}

@media only screen and (min-width: 1439px) {
  .footer-container {
    padding: 46px 80px;
  }

  .footer-navigation {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .footer-text {
    text-align: center;
  }
}